body {
  background: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#quote-body {
  font-family: 'Be Vietnam', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

#from {
  font-family: 'Roboto', sans-serif;
  font-family: 'Cardo', serif;
}

.wrapper {
  margin: 0;
  padding: 0;
}

.load-new-quote {
  margin-top: 0.95rem;
  text-align: center;
  z-index: 20;
}

a.load-button {
  background-color: rgb(137, 127, 255);
  border: 1px ridge #0c0d0d;
  border: 1px ridge rgba(13, 14, 14, 20.5);
  border-radius: 3px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  padding: 0.5rem;
  text-decoration: none;
}

a.load-button:hover {
  background-color: rgb(130, 120, 248);
  border: 1px ridge #321414;
  border: 1px ridge rgba(50, 20, 20, 20.5);
  border-color: #321414;
  border-radius: 5px;
  font-weight: 600;
}

footer.link {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer.link p {
  text-align: center;
}

.quote-file {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 90vh;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  align-self: center;
  border-bottom: solid 1px;
  border-top: solid 1px;
  color: black;
  font-weight: 800;
  margin: 80px auto;
  max-width: 800px;
  padding: 30px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* Blockquote header */
.blockquote h1 {
  color: #101010;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  position: relative;
}

/* Blockquote right double quotes */
.blockquote::after {
  bottom: -43px;
  color: #0a0a0a;
  color: rgba(10, 10, 10, 1);
  content: "”";
  font-size: 10rem;
  line-height: 0;
  position: absolute;
  right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  color: #292a2b;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}
